<!DOCTYPE html>
<html lang="en" data-th-fragment="layout">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" data-th-href="@{/css/style.css}" />

        <div data-th-replace="${styles} ?: _"></div>

        <title>Report system</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" data-th-href="@{~/}">Reports</a>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li data-th-replace="base-elements::navLink(@{~/report}, 'Create report')"></li>
                    <li data-th-replace="base-elements::navLink(@{~/reports}, 'View reports')"></li>
                    <li
                        data-th-replace="base-elements::navDropdown(
                            urls=${ {'/clients/register', '/employees/register'} }, 
                            names=${ {'Client', 'Employee'} }, 
                            text='Register')"
                    ></li>
                    <li data-th-replace="base-elements::navLink(@{~/teams}, 'Manage teams')"></li>
                    <li
                        data-th-replace="base-elements::navLink(@{~/employees}, 'Manage employees')"
                    ></li>
                    <li
                        data-th-replace="base-elements::navLink(@{~/clients}, 'Manage clients')"
                    ></li>
                    <li
                        data-th-replace="base-elements::navDropdown(
                            urls=${ {'/team', '/team/reports'} }, 
                            names=${ {'Members', 'Reports'} }, 
                            text='My team')"
                    ></li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">username</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" data-th-href="@{~/logout}">Log out</a>
                            <a class="dropdown-item" data-th-href="@{~/profile}">User profile</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li data-th-replace="base-elements::navLink(@{~/login}, 'Log in')"></li>
                </ul>
            </div>
        </nav>
        <section id="content" data-th-replace="${content}"></section>

        <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>

        <div data-th-replace="${scripts} ?: _"></div>
    </body>
</html>
