<!DOCTYPE html>
<html>
    <body>
        <li
            data-th-fragment="navLink(url, text)"
            class="nav-item"
            data-th-classappend="${url} == ${#httpServletRequest.requestURI} ? 'active'"
        >
            <a class="nav-link" data-th-href="${url}" data-th-text="${text}"></a>
        </li>

        <li
            class="nav-item dropdown"
            data-th-fragment="navDropdown(urls, names, text)"
            data-th-classappend="${#arrays.contains(urls, #httpServletRequest.requestURI)} ? 'active'"
        >
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-th-text="${text}"></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a
                    class="dropdown-item"
                    data-th-each="url, iterStat : ${urls}"
                    data-th-href="@{~__${url}__}"
                    data-th-text="${names[iterStat.index]}"
                ></a>
            </div>
        </li>

        <div
            data-th-fragment="darkModal(title, body, footer, id)"
            class="modal fade"
            data-th-id="${id}"
            tabindex="-1"
            role="dialog"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-dark text-light">
                    <div class="modal-header">
                        <h5 class="modal-title" data-th-include="${title}"></h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span class="text-light">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" data-th-include="${body}"></div>
                    <div class="modal-footer" data-th-include="${footer}"></div>
                </div>
            </div>
        </div>

        <li
            data-th-fragment="listItem(content)"
            class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center"
            data-th-include="${content}"
        ></li>

        <div
            class="form-group"
            data-th-fragment="input(someType, someId, someLabel, somePlaceholder)"
        >
            <label data-th-for="${someId}" data-th-text="${someLabel}"></label>
            <input
                data-th-type="${someType}"
                data-th-id="${someId}"
                data-th-placeholder="${somePlaceholder}"
                class="form-control"
            />
        </div>
    </body>
</html>
