<!DOCTYPE html>
<html>
    <body>
        <div class="form-group" data-th-fragment="input (inputType, placeholder, label, id)">
            <label data-th-for="${id}" data-th-text="${label}"></label>
            <input
                data-th-type="${inputType}"
                data-th-id="${id}"
                data-th-placeholder="${placeholder}"
                class="form-control"
            />
        </div>

        <button
            type="submit"
            class="btn btn-primary w-100"
            data-th-fragment="button (text)"
            data-th-text="${text}"
        ></button>
    </body>
</html>
