<!DOCTYPE html>
<html data-th-replace="~{base::layout(~{::#content})}">
    <body>
        <section id="content" class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="pb-4 flex-item">Log in</h2>
            <form action="@{~/login}" class="flex-item">
                <div
                    data-th-replace="~{form-elements::input('email', 'email@example.com', 'Email address', 'email')}"
                ></div>
                <div
                    data-th-replace="~{form-elements::input('password', '', 'Password', 'password')}"
                ></div>
                <button data-th-replace="~{form-elements::button('Log in')}"></button>
            </form>
        </section>
    </body>
</html>
