<!DOCTYPE html>
<html
    data-th-replace="~{base-centered::centered(data=~{::body})}"
    data-th-fragment="register(page, title, action)"
>
    <body>
        <h2 class="pb-4 text-center" data-th-text="${title}"></h2>
        <form data-th-action="${action}">
            <div
                data-th-replace="~{form-elements::input('text', 'User', 'First name', 'firstName')}"
            ></div>
            <div
                data-th-replace="~{form-elements::input('text', 'Name', 'Last name', 'lastName')}"
            ></div>

            <div data-th-replace="${page}"></div>

            <div
                data-th-replace="~{form-elements::input('email', 'email@example.com', 'Email address', 'email')}"
            ></div>
            <div
                data-th-replace="~{form-elements::input('email', '', 'Repeat e-mail', 'repeatEmail')}"
            ></div>
            <div
                data-th-replace="~{form-elements::input('password', '', 'Password', 'password')}"
            ></div>
            <div
                data-th-replace="~{form-elements::input('password', '', 'Repeat password', 'repeatPassword')}"
            ></div>

            <button data-th-replace="~{form-elements::button('Register')}"></button>
        </form>
    </body>
</html>
