html,
body,
#content {
    width: 100%;
    height: 100%;
}

body {
    background-color: #272727;
    color: #fff;
}

#content,
#messages {
    padding-top: 56px;
}

#messages {
    position: fixed;
}

.center-flex-item {
    margin: auto;
}

.message {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
