<!DOCTYPE html>
<html
    data-th-fragment="baseReports(inputContent)"
    data-th-replace="~{base::layout(content=~{::body}, styles=~{::head}, scripts=~{::#scripts})}"
>
    <head>
        <link rel="stylesheet" data-th-href="@{/css/dark-modal.css}" />
    </head>
    <body>
        <section id="content">
            <div data-th-replace="${inputContent}"></div>

            <h5 class="ml-1">Found 1 report</h5>

            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Address</th>
                        <th scope="col">Reported by</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        class="clickable-row"
                        data-toggle="modal"
                        data-target="#reportModal"
                        data-href="/"
                    >
                        <th scope="row">10.2.2020</th>
                        <td>Some address</td>
                        <td>Some Name</td>
                        <td>Pending</td>
                    </tr>
                </tbody>
            </table>

            <div
                data-th-replace="~{base-elements::darkModal(~{::#title}, ~{::#body}, ~{::#footer}, 'reportModal')}"
            >
                <h5 id="title">
                    Address<span class="ml-1 badge badge-secondary">Open</span>
                    <span class="ml-1 badge badge-success">Closed</span>
                    <span class="ml-1 badge badge-primary">Pending</span>
                </h5>
                <div id="body">
                    <h5>Reported by Some Person</h5>
                    description
                </div>
                <div id="footer">
                    <button type="button" class="btn btn-success">
                        Resolve
                    </button>
                    <button type="button" class="btn btn-danger">
                        Delete
                    </button>
                </div>
            </div>

            <div id="scripts">
                <script data-th-src="@{/scripts/report-modal.js}"></script>
            </div>
        </section>
    </body>
</html>
