<!DOCTYPE html>
<html
    data-th-replace="~{base-centered::centered(data=~{::body})}"
    data-th-fragment="register(title, action)"
>
    <body>
        <h2 class="pb-4 text-center" data-th-text="${title}"></h2>
        <form method="POST" data-th-object="${user}" data-th-action="${action}">
            <div
                data-th-replace="~{form-elements::validatedInput(
                    type='text',
                    name='firstName',
                    label='First name',
                    placeholder='User',
                    isValid=${not #fields.hasErrors('firstName')},
                    invalidMessage='First name is invalid!')}"
            ></div>
            <div
                data-th-replace="~{form-elements::validatedInput(
                    type='text', 
                    name='lastName',
                    label='Last name',
                    placeholder='Name',
                    isValid=${not #fields.hasErrors('lastName')},
                    invalidMessage='Last name is invalid!')}"
            ></div>
            <div
                data-th-replace="~{form-elements::validatedInput(
                    type='email', 
                    name='email',
                    label='Email address',
                    placeholder='email@example.com',
                    isValid=${not #fields.hasErrors('email')},
                    invalidMessage='E-mail is invalid!')}"
            ></div>
            <div
                data-th-replace="~{form-elements::validatedInput(
                    type='password',
                    name='password',
                    label='Password',
                    placeholder='',
                    isValid=${not #fields.hasErrors('password')},
                    invalidMessage='Password is invalid!')}"
            ></div>
            <button data-th-replace="~{form-elements::button('Register')}"></button>
        </form>
    </body>
</html>
