<!DOCTYPE html>
<html data-th-replace="~{base-reports::baseReports(~{::body})}">
    <body>
        <h2 class="mt-3 mb-3 text-center">All reports</h2>

        <div class="center-flex-item mb-3 d-flex">
            <form class="form-inline center-flex-item">
                <label class="my-1 mr-2" for="teamSelect">Team</label>
                <select class="custom-select my-1 mr-sm-2" id="teamSelect">
                    <option selected>Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>

                <label class="my-1 mr-2" for="employeeSelect">Employee</label>
                <select class="custom-select my-1 mr-sm-2" id="employeeSelect">
                    <option selected>Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>

                <button type="submit" class="btn btn-primary my-1 center-flex-item">Submit</button>
            </form>
        </div>
    </body>
</html>
